
.open-sans-style{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #F1F1F3;
        
        }

/* heading design start here */

.site-heading{
    display: flex;
    justify-content:space-between;
    margin: 20px 78px;
    align-items: center;
}

.site-heading-title{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
}

.site-heading-btn{
    color: rgba(0, 106, 80, 1);
    font-size: 18px;
    font-weight: 500px;
    background-color: white;
    border-color: rgb(50, 164, 136);
    width: 116px;
    height: 52px;
    padding: 15px 10px;
    border-radius: 8px;
}

.heading-body{
    
    display: flex;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 8px;
    margin: 0px 80px;
    padding: 0px 60px;
}

.heading-body-title{
    font-size: 24px;
    font-weight: 400px;
    color: rgba(14, 14, 14, 0.5);
    margin-top: 50px;
    margin-bottom: 5px;
}

.web-heading-discr{
    font-size: 48px;
    font-weight: bold;
   
}

.heading-body img {
    max-width: 380px;
    padding: 50px 0;

}


.heading-body-description p, button {
    margin-top: 0px;
    margin-bottom: 15px;
    
}

.heading-body-description button {
    font-size: 18px;
    font-weight: 600px;
    background-color: #006A50;
    padding: 10px 14px;
    border: none;
    border-radius: 8px;
    color: white;  
}

/* pillar section style start */
.pillar{
   margin: 50px 78px; 
}

.pillar-bd-heading{
    font-size: 40px;
    font-weight: bold;
}

.pillar-lists{
    display: flex;
    margin-top: 32px;
    margin-bottom: 80px;
    gap: 24px;
}

.pillar-list{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    padding: 20px 15px;
}

.pillar-lists h5{
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    padding: 10px 0px;
}

.pillar-lists p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    
}

/* future section style here */

.future-section{
    margin: 50px 78px; 
}

.future-heading{
    font-size: 40px;
    font-weight: bold;
}

.future-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    padding: 25px 0px;
}

.future-vision-lists{
    display: flex;
    gap: 24px;
}

.future-vision-list1{
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
    padding: 20px 32px;
    height: 320px;
}

.future-vision-list2{
    background-color: rgba(198, 228, 214, 1);
    padding: 20px 32px;
    height: 320px;
    border-radius: 16px;
}

.future-vision-list3{
    background-color: rgba(247, 235, 207, 1);
    padding: 20px 32px;
    height: 320px;
    border-radius: 16px;
}

.future-vision-lists h5{
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    padding-top: 24px;
    padding-bottom: 10px;
}

.future-vision-lists p{
    font-size: 16px;
    padding-bottom: 24px;
    color:rgba(14, 14, 14, 0.7)
    
}

.future-btn1{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(84, 144, 245, 1);
    border: none;
    border-radius: 8px;
    padding: 11px 20px;
    font-weight: 600;
    
}

.future-btn2{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(9, 161, 92, 1);
    border: none;
    border-radius: 8px;
    padding: 11px 20px;
    font-weight: 600;
}


.future-btn3{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 194, 57, 1);
    border: none;
    border-radius: 8px;
    padding: 11px 20px;
    font-weight: 600;
}

.cheif-adviser-speech{
    margin-top: 32px;
    margin-bottom: 80px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    padding: 30px 24px;
}

.cheif-adviser-speech-description {
 font-size: 16px;
 color: rgba(14, 14, 14, 0.8);
}

.cheif-adviser-speech h4 {
 font-size: 20px;
 font-weight: 600;
 color:rgba(14, 14, 14, 0.8);
 padding: 12px 0;
}

.adviser-country{
    color: rgba(14, 14, 14, 0.6);
}

.quote {
  position: relative;
  padding-left: 40px; /* Space for the mark */
}

.quote::after {
  content: "\201C"; /* Unicode for opening curly quote */
  font-size: 180px;
  position: absolute;
  left: 33px;
  top: -15px;
  color: rgba(14, 14, 14, 0.3); /* Decorative gray color */
  font-family: Georgia, serif;
}

/* opinion section design */

.Opinion-Matters{
   margin: 0px 78px 50px 78px; 
}

.opinion-heading{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}

.select-option-main{
    background-color: rgba(255, 255, 255, 1);
    padding: 32px 32px;
    border-radius: 16px;
}
.select-option {
    display: flex;
    justify-content: space-between;
    background-color: rgba(198, 228, 214, 1);
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}

.select-option h5{
    font-size: 18px;
    font-weight: 500px;
}
.opinion-row{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(14, 14, 14, 0.15);
}



.option-section{
    background-color: rgba(198, 228, 214, 1);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    margin: 15px;
}
.opinion-row-description{
 background-color: rgba(255, 255, 255, 1);
 border-bottom: 1px solid rgba(14, 14, 14, 0.15);
 border-right: 1px solid rgba(14, 14, 14, 0.15);
 padding-right: 200px;
 padding-left: 30px;
 padding-top: 10px;
 font-size: 16px;
}

.recent-news{
 margin: 70px 78px;   
}

.recent-news h3{
   font-size: 40px;
   font-weight: bold;
}

.recent-news p{
   margin: 25px 0;
   font-size: 14px;
   color: rgba(14, 14, 14, 0.7);
}

.news-section-1{
    display: flex;
    gap: 32px;
    padding: 32px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
}

.space-create{
    margin-left: 12px;

}

.news-section-1-img{
    border-radius: 24px;
    width: 360px;
    height: 260px;
}

.news-section-1 h3{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 10px;
}

.common-font-news{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px; 
}


.news-section1-details button{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 106, 80, 1);
    border-radius: 8px;
    padding: 13px 26px;
    border: none;
    font-size: 18px;
    font-weight: 600px;
}

.news-section1-details p{
    margin-bottom: 10px;
    margin-top: 6px;
}

.news-section-2{
    margin: 24px 0;
}

/* donate section style here */

.donate{
     margin: 0px 78px;
}

.donation-heading{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.donation-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    text-align: center;
}

.donate-amount{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    margin: 32px 40px;

}

.taka{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    padding: 30px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}

.taka2{
    background-color: rgba(198, 228, 214, 1);
}

.donate h6{
    color: rgba(14, 14, 14, 0.3);
    font-size: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    margin: 22px 100px;
    padding: 12px 300px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}


.donate button{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 106, 80, 1);
    border-radius: 8px;
    padding: 13px 26px;
    border: none;
    font-size: 18px;
    font-weight: 600px;
    margin: 0px 420px 20px 420px; 
}

.btn-center{
 justify-content: center;
}


/* subscription style here */

.subscribe{
    background-color: rgba(198, 228, 214, 1);
    border-radius: 24px;
    margin: 50px 78px ;
    padding: 40px 100px;
}

.subscribe h3{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.subscribe p{
    text-align: center;
    padding: 10px 30px;
}

.span-item{
    text-align: center;
}

.email-btn{
    background-color: rgba(255, 255, 255, 1);
}

.subscription-btn{
    background-color: rgba(0, 106, 80, 1);
}

.subscribe-wrapper{
    display: flex;
    width: 100%;
    max-width: 800px;
    justify-content: center;
}

.subscribe-wrapper input {
  flex: 1;
  padding: 14px 0px 14px 30px;
  border: none;
  outline: none;
  border-radius: 8px 0 0 8px;
  font-size: 16px;
  height: 50px; 
  
}


.subscribe-wrapper button {
  padding: 14px 28px;
  border: none;
  background-color: #006a4e; /* dark green */
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
  height: 50px; 
}

.promise-section{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
}

footer{
    background-color: rgba(255, 255, 255, 1);
    margin-top: 80px;
    padding: 50px 160px;
}

footer h3{
    font-size: 32px;
    font-size: bold;
    text-align: center;
    margin-bottom: 32px;
}

.footer-icon{
    padding-top: 32px;
    text-align: center;
    margin-right: 15px;
}

.footer-icon img{
    margin-right: 15px;
}

footer hr{
    border: 1px solid rgba(14, 14, 14, 0.1);
}